html,body{
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;

}
nav{
    z-index: 3;
    height: 10%;
    width: 100%;
    top: 0px;
    position: absolute;
    background-color: blue;
    display: inline-flex;

}

nav .logo{
        width: 10%;
        height: 100%;
        background-color: red;
        display: inline-flex;   
        align-items: center;  
        margin-left: 2%;
}
.logo .imgLogo{
    width: 20%;
    height: 40%;
    margin-right: 1%;
    background-color: yellow;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.logo .imgLogo img{
    width: 80%;
    height: 80%;
}

.logo .brandLogo{
    width: 60%;
    height: 40%;
    margin-right: 1%;
    background-color: yellow;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-family: Courier, monospace;
    font-weight: bold;
}


nav .navItem{
    width: 50%;
    height: 100%;
    background-color: brown;
    margin-left: 1%;
    display: inline-flex;   
    align-items: center;  
}
.navItem .itemDiv{
    width: 15%;
    height: 40%;
    margin-right: 1%;
    background-color: tomato;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
nav .log{
        width: 20%;
        height: 100%;
        background-color: green;
        margin-left: 15%;
        display: inline-flex;   
        align-items: center;    
}
.log .itemLog{
    width: 30%;
    height: 40%;
    margin-right: 1%;
    background-color: yellow;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


/* body */

.firstPage{
    width: 100%;
    height: 100%;
    background: rgb(173,220,253);
    background: linear-gradient(135deg, rgba(173,220,253,1) 0%, rgba(241,243,248,1) 100%);

    

}
 .firstPage .space{
    width: 100%;
    height: 10%;
}
.firstPage .container{
            background-color: yellow;
            width: 100%;
            height: 90%;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            
}
.container .contents{
    background-color: violet;
    width: 80%;
    height: 100%;
    
}

.contents .itemOneP{
        width: 100%;
        height: 10%;
        background-color: beige;
        margin-top: 1%;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
}
.contents  .item_title{
    font-size: 80px;
    font-weight: bold;
}
.itemOneP p{
        font-size: 18px;
}

.contents .itemOneP_titleCards{
    width: 100%;
    height: 6%;
    background-color: beige;
    margin-top: 1%;
}
.contents .itemOneP_cards{
    width: 100%;
    height: 20%;
    background-color: beige;
    margin-top: 1%;
}


/* pictureDoc */
.pictureDoc {
   z-index: 0;
    width: 100%;
    height: 80%;
    background-color: aquamarine;
    margin-top: 1%;
}

.pictureDoc .consultant{
        z-index: 1;
        position: absolute;
        margin-top: 5%;
        left: 5%;
        height: 15%;
        width: 20%;
        background-color: white;

}
.pictureDoc .serviceNum{
    z-index: 1;
    position: absolute;
    margin-top: 15%;
    right: 5%;
    height: 15%;
    width: 20%;
    background-color: white;
}
/*Second Page*/

.SecondPage{
    width: 100%;
    height: 100%;
    background-color: green;

}
.SecondPage .firstHalf{
    background-color: chartreuse;
    width: 100%;
    height: 70%;

}
.SecondPage .secondHalf{
  background-color: blueviolet;
    width: 100%;
    height: 60%;
    align-items: center;
}
.secondHalf div:nth-child(1){
    background-color: blue;
    width: 100%;
    height: 60%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.secondHalf div:nth-child(1) .textSecH{
    background-color: red;
    width: 80%;
    height: 100%;
    display: inline-block;
}


.secondHalf div:nth-child(1) .textSecH .fTextSecH{
        width: 100%;
        height: 60%;
        background-color: antiquewhite;
}
.secondHalf div:nth-child(1) .textSecH .sTextSecH{
    width: 100%;
    height: 30%;
    background-color: brown;
}

.SecondPage .cardsSecH{
    width: 100%;
    height: 35%;
    background-color: chocolate;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.SecondPage .cardsSecH .cardCat{
        width: 20%;
        height: 100%;
        margin: 0px 1%;
        background-color:aqua;
}

.SecondPage .seeSecH{
    width: 100%;
    height: 15%;
    background-color: cornflowerblue;
}