html,body{
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;

}
nav{
    z-index: 3;
    height: 10%;
    width: 100%;
    top: 0px;
    position: absolute;
    background-color: transparent;
    display: inline-flex;

}

nav .logo{
        width: 10%;
        height: 100%;
        background-color: transparent;
        display: inline-flex;   
        align-items: center;  
        margin-left: 2%;
}
.logo .imgLogo{
    width: 20%;
    height: 40%;
    margin-right: 1%;
    background-color: white;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 100%;
    
}

.logo .imgLogo img{
    width: 60%;
    height: 60%;
}

.logo .brandLogo{
    width: 60%;
    height: 40%;
    margin-right: 1%;
    background-color: transparent;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-family: Courier, monospace;
    font-weight: bold;
    color: #224CA1;
}


nav .navItem{
    width: 50%;
    height: 100%;
    background-color: transparent;
    margin-left: 1%;
    display: inline-flex;   
    align-items: center;  
}
.navItem .itemDiv{
    width: 15%;
    height: 40%;
    margin-right: 1%;
    background-color: transparent;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #62779A;
    font-weight: 500;
}
nav .log{
        width: 20%;
        height: 100%;
        background-color: transparent;
        margin-left: 15%;
        display: inline-flex;   
        align-items: center;    
}
.log .itemLog{
    width: 30%;
    height: 60%;
    margin-right: 1%;
    background-color: transparent;
    color: #62779A;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-radius: 30px;
}
.log .selected{
    background-color: #224CA1;
    color: white;
}


/* body */

.firstPage{
    width: 100%;
    height: 100%;
    background: rgb(173,220,253);
    background: linear-gradient(135deg, rgba(173,220,253,1) 0%, rgba(212,248,255,1) 100%);

    

}
 .firstPage .space{
    width: 100%;
    height: 10%;
}
.firstPage .container{
            background-color: transparent;
            width: 100%;
            height: 90%;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            
}
.container .contents{
    background-color: transparent;
    width: 80%;
    height: 100%;
    
}

.contents .itemOneP{
        width: 100%;
        height: 10%;
        background-color: transparent;
        margin-top: 1%;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        color: #62779A;
}
.contents  .item_title{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #224CA1;
    
}
.itemOneP p{
        font-size: 18px;
}
.itemOneP p a{
    color: #62779A;
}
.contents .rowSearch{
    flex-direction: row;
}
.itemOneP .searchDiv{
    width: 70%;
    height: 100%;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
}
.itemOneP .searchDiv .regionDiv{
    width: 40%;
    height: 100%;
    background-color: transparent;
    display: inline-flex;   
    align-items: center;  
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    
}

.itemOneP .searchDiv  .regionDiv div:nth-child(1){
    height: 60%;
    width: 20%;
    margin-left: 3%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
        
}
.itemOneP .searchDiv  .regionDiv div:nth-child(1) img{
    height: 50%;
    width: 40%;
    background-color: transparent;
    margin-right: 10%;

}
.itemOneP .searchDiv  .regionDiv span{
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    
}
.itemOneP .searchDiv .inputDiv{
    width: 40%;
    height: 100%;
    background-color: transparent;
    display: inline-flex;   
    align-items: center;  
}

.itemOneP .searchDiv .inputDiv div:nth-child(1){
    height: 40%;
    width: 20%;

    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.itemOneP .searchDiv  .inputDiv div:nth-child(1) img{
    height: 60%;
    width: 40%;
    background-color: transparent;
    margin-right: 15%;

}

.itemOneP .searchDiv  .inputDiv span{
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    
}

.itemOneP .searchDiv .searchButtonDiv{
    width: 20%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: transparent;
}
.itemOneP .searchDiv .searchButtonDiv .button{
    border-radius: 100px;
    background-color: #224CA1;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemOneP .searchDiv .searchButtonDiv .button div:nth-child(1){
    height: 40%;
    width: 10%;

    background-color: transparent;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.itemOneP .searchDiv .searchButtonDiv .button div:nth-child(1) img{
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin-right: 10%;

}

.itemOneP .searchDiv .searchButtonDiv .button span{
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    color:white;
 
}

.contents .itemOneP_titleCards{
    width: 100%;
    height: 6%;
    background-color: transparent;
    margin-top: 1%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    
}

.contents .itemOneP_titleCards div:nth-child(1){

    width: 70%;
    height: 100%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    color:#224CA1;
}

.contents .itemOneP_cards{
    width: 100%;
    height: 20%;
    background-color: transparent;
    margin-top: 1%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.contents .itemOneP_cards div:nth-child(1){
    width: 70%;
    height: 70%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.contents .itemOneP_cards div:nth-child(1) .cardLook{
    width: 30%;
    height: 90%;
    margin: 0.5% 2%;
    background-color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.contents .itemOneP_cards div:nth-child(1) .cardLook h3{
    color: #224CA1;
}
.contents .itemOneP_cards div:nth-child(1) .select{
        background-color: #FFE9D0;
}
.contents .itemOneP_cards div:nth-child(1) .cardLook p{
    color:#62779A;
}

/* pictureDoc */
.pictureDoc {
   z-index: 0;
    width: 100%;
    height: 80%;
    margin-top: 1%;

}

.pictureDoc img{
 width: 100%;
 height: 100%;
 z-index: 1;
 border-radius: 20px;
 border: 10px solid white;
 position: relative;
 
}
.pictureDoc .consultant{
        z-index: 2;
        position: absolute;
        margin-top: -30%;
        left: 5%;
        height: 15%;
        width: 15%;
        border-radius: 10px;
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;

}
.pictureDoc .consultant img ,.pictureDoc .serviceNum img{
        width: 20%;
        height: 30%;
}
.pictureDoc .consultant .txt h3, .pictureDoc .serviceNum h3{
    color:#224CA1;
    
}
.pictureDoc .consultant .txt span, .pictureDoc .serviceNum span{
    color:#62779A;
    
}
.pictureDoc .serviceNum{
    z-index: 2;
    position: absolute;
    margin-top: -15%;
    right: 5%;
    height: 15%;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}
.pictureDoc .patient{
    border-radius: 5px;
    border: 0px solid transparent;
    width: 10%;
    height: 10%;
    position: absolute;
    z-index: 2;
    margin-top: -35%;
    right: 10%;
}
/*Second Page*/

.SecondPage{
    width: 100%;
    height: 100%;
    background-color: #F1F3F8;

}
.SecondPage .firstHalf{
    background-color: #F1F3F8;
    width: 100%;
    height: 70%;

}
.SecondPage .secondHalf{
  background-color: #F1F3F8;
    width: 100%;
    height: 60%;
    align-items: center;
}
.secondHalf div:nth-child(1){
    background-color: transparent;
    width: 100%;
    height: 60%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.secondHalf div:nth-child(1) .textSecH{
    background-color: transparent;
    width: 80%;
    height: 100%;
    display: inline-block;
}


.secondHalf div:nth-child(1) .textSecH .fTextSecH{
        width: 100%;
        height: 60%;
        background-color: transparent;
        align-items: center;


}
.secondHalf div:nth-child(1) .textSecH .fTextSecH div{
    width: 80%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #224CA1;
}

.secondHalf div:nth-child(1) .textSecH .sTextSecH{
    width: 100%;
    height: 30%;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #62779A;
}

.SecondPage .cardsSecH{
    width: 100%;
    height: 35%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SecondPage .cardsSecH .cardCat{
        width: 20%;
        height: 90%;
        margin: 0px 1%;
        background-color:#DEF1FF;
        border-radius: 10px;
        display: inline-flex;
        text-align:center;
        flex-direction: column;
        justify-content: center;
}
.SecondPage .cardsSecH .cardCat div img{
    width: 30%;
    height: 50%;
}
.SecondPage .cardsSecH .cardCat .divImg{
   background-color: transparent;
   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.SecondPage .seeSecH{
    width: 100%;
    height: 15%;
    background-color: #F1F3F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SecondPage .seeSecH .txt_see{
        width: 15%;
        height: 70%;
        background-color: #224CA1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 100px;
}